[submodule "elfio"]
	path = elfio
	url = git@github.com:serge1/ELFIO.git
[submodule "nativefiledialog-extended"]
	path = nativefiledialog-extended
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking